* {
    box-sizing: content-box;
    padding: 0;
}

.conteiner {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    background-color: rgb(97, 174, 134);
    display: flex;
    flex-direction: column;
}

.title {
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.navList {
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;

}

.NavListItem {
    border-radius: 30px;
    background-color: white;
    padding: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: rgb(108, 136, 164);
}

.ListSections {
    display: flex;
    flex-wrap: wrap;
    place-content: flex-start center;
    justify-content: space-around;
}

.ListItemMain {
    height: 200px;
    width: 300px;
    background-color: rgb(83, 83, 166);
    margin: 10px;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: rgb(141, 201, 211);
    height: 10vh;
}